<div class="row text-center">
    <div class="col-12 m-3">
        <h3>Example of *ngSwitch vs Switch</h3>
    </div>
</div>

<div class="row text-center">
    <div class="col-12">
        <button class="btn btn-success m-1"(click)="set(1)">1st Grade</button>
        <button class="btn btn-primary m-1"(click)="set(2)">2nd Grade</button>
        <button class="btn btn-warning m-1"(click)="set(3)">3rd Grade</button>
    </div>
    <!-- <div [ngSwitch] = "grade" class="m-3">
        <div *ngSwitchCase="1">Congratulations on your outstanding achievement - First Grade..🥳</div>
        <div *ngSwitchCase="2">Congratulations on your outstanding achievement - Second Grade..🥳</div>
        <div *ngSwitchCase="3">Congratulations on your outstanding achievement - Third Grade..🥳</div>
        <div *ngSwitchDefault>No Results found...😞</div>
    </div> -->

    <div class="m-3">
        @switch (grade) {
            @case (1) {
                Congratulations on your outstanding achievement - First Grade..🥳
            }
            @case (2) {
                Congratulations on your outstanding achievement - Second Grade..🥳
            }
            @case (3) {
                Congratulations on your outstanding achievement - Third Grade..🥳
            }
            @default {
                No Results found...😞
            }
        }
    </div>
</div>
