<!-- <app-user></app-user> -->

<!-- <app-data-binding></app-data-binding> -->

<!-- <app-directives></app-directives> -->

<!-- <app-structural-directives-ngif-vs-if></app-structural-directives-ngif-vs-if> -->

<!-- <app-structural-directives-ngfor-vs-for></app-structural-directives-ngfor-vs-for> -->

<!-- <app-structural-directives-ngswitch-vs-switch></app-structural-directives-ngswitch-vs-switch> -->

<!-- <app-attribute-directives></app-attribute-directives> -->

<app-signals></app-signals>

<router-outlet />
