<div class="container d-flex justify-content-center mt-5" style="height: 100%;">
    <div class="w-50 p-5 border border-secondary text-center">
        <h2>Welcome to your Nightmare</h2>
        <label for="">Username : </label><input type="text" placeholder="Enter Your Username"><br><br>
        <label for="">Password : </label><input type="password" placeholder="Password"><br><br>

        <!-- For a simple use case use Link -->
        <!-- <button class="btn btn-primary" routerLink="/structural-directive">Login Fam</button> -->

        <!-- For more controlled use case  -->
        <button class="btn btn-primary" (click)="loginData()">Login Fam</button>
    </div>
</div>>
